[Unit]
After=docker.service
Description=Run docker compose HotWalletClaimer

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/HotWalletClaimer
ExecStart=/usr/bin/docker compose -f /root/HotWalletClaimer/docker-compose.yml up -d --remove-orphans
Restart=on-failure

[Install]
WantedBy=multi-user.target